* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(64, 161, 161), rgb(78, 76, 226));
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3 10% 80% 10%);
  grid-template-rows: repeat(2, 10% 90%);
}

/* Input, buttons Section */
.container {
  display: flex;
}

.inputField {
  height: 44px;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  margin:0 auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.wrapper {
 
 height: 95%;
  margin:0 auto;
  width: 82%;
  
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px, 1fr)););
  
  column-gap:0px;
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 10px;
}

.wrapper.active {
  filter: blur(14px);
}

.rotateRight {
  display: grid;
  grid-template-columns: repeat(3, 70% 15% 15%);
  height: max-content;
  
  position: relative;
  width: 90%;
  height: 10rem;
  color: #000;
  background: #ffc;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

.rotateLeft {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(3, 70% 15% 15%);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  width: 90%;
  height: 10rem;
  color: #000;
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
  transition: transform 0.15s linear;
}

.rotateRight:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.rotateLeft:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.addButton {
  margin: 0 -45px;
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.addButton img {
  height: 40px;
  width: 40px;
  border-radius: 60%;
}
.addButton img:hover {
  transition: ease 0.15s;
  background: #0de443;
}

.Rotate {
  width: 100%;
  height: 40px;
  margin: 30px 6px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  display: inline-block;
  word-wrap: break-word;
  cursor: pointer;
}

.Rotate:active {
  text-decoration: line-through;
}

.toDoList {
  height: 20px;
  width: 60%;
  display: flex;
  color: black;
  min-width: 75%;
  list-style-type: none;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deleteButton img {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.checkedButton img {
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: none;
  background: none;
  pointer-events: none;
}

.rotateRight Button {
  height: 20px;
  width: 20px;
  border: none;
  margin: 4px 0px;
  background-color: #ffc;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.rotateLeft Button {
  height: 20px;
  width: 20px;
  border: none;
  margin: 4px 0px;
  background-color: #cfc;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.checkedButton,
.deleteButton {
  cursor: pointer;
}

.checkedButton:hover {
  background-color: rgb(34, 148, 34);
}

.deleteButton:hover {
  background-color: rgb(255, 81, 0);
}

.toDoList.active {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-color: rgb(65, 60, 59);
}

.tasksDone {
  height: 35px;
  border-radius: 5px;
  width: 360px;
  background-color: white;
  margin: 9px;
}

.checkedTasks {
  border: 2px solid red;
  visibility: hidden;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.pages {
  width: 20px;
  height: 20px;
  margin: 0;
  display: flex;
}

.fall {
  transition: all 1.2s;
  opacity: 0;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.line-thru {
  text-decoration: line-through;
}

.popupContainer {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #37444b;
  color: white;
  box-shadow: 6px 6px 10px rgba(33, 33, 33, 0.7);
  letter-spacing: 2px;
  border-radius: 25px;
  padding: 0px 35px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContainer.active {
  width: 450px;
  height: 250px;
}

.popupButton {
  position: absolute;
  transition: ease-in 0.2s;
  background: #087659;
  bottom: 12%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  visibility: hidden;
  color: white;
}

.popupButton.active {
  cursor: pointer;
  height: 45px;
  width: 65px;
  visibility: visible;
}

.popupButton:hover {
  background: #0d8766;
}

.clearBoard {
  position: relative;
  background-color: black;
  color: white;

  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  left: 12%;
  margin-top: 3px;
  cursor: pointer;
}
.clearBoard:hover {
  color: rgb(126, 23, 23);
  scale: 1.03;
  transition: ease 0.15s;
}

.popupTxt {
  position: relative;
  bottom: 18%;
}

.tooltipSpan {
  position: absolute;
  width: 170px;
  color: #000;
  font-weight: 800;
  padding: 20px 10px;
  background: white;
  border-radius: 8px;
  transform: translateY(-140%);
  visibility: hidden;
  font-size: 12px;
}

.tooltipSpan::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: white;
  bottom: -4px;
  left: 12px;
  transform: rotate(45deg);
}

.tooltipSpan.active {
  visibility: visible;
}

@media only screen and (min-width:1000px) {
  
/* .rotateLeft, .rotateRight{
  width: 20%;
  height: 30%;
}

.wrapper{
  gap:0;
}
}
   */
